@model Department
@{
    ViewData["Title"] = "Edit Department";
}

<h1>Edit Department</h1>

<br />
<br />

<form method="post" asp-action="Edit" asp-controller="Department">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class=" col-form-lable" asp-for="Code"></label>
        <input id="Code" asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class=" col-form-lable" asp-for="Name"></label>
        <input id="Code" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class=" col-form-lable" asp-for="DateOfCreation"></label>
        <input id="Code" asp-for="DateOfCreation" class="form-control" />
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Cancel</a>
</form>