@model EmployeeViewModel

<div asp-validation-summary="All"></div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="Name"></label>
    <input id="Code" asp-for="Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="Email"></label>
    <input id="Code" asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="Age"></label>
    <input id="Code" asp-for="Age" class="form-control" readonly />
</div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="Adress"></label>
    <input id="Code" asp-for="Adress" class="form-control" readonly />
</div>
@* <div class="form-group">
    <label class=" col-form-lable" asp-for="Gender"></label>
    <input id="Code" asp-for="Gender" class="form-control" readonly />
</div> *@
<div class="form-group">
    <input id="Code" asp-for="IsActive" class="form-check-input" />
    <label class=" col-form-lable" asp-for="IsActive"></label>

</div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="Salary"></label>
    <input id="Code" asp-for="Salary" class="form-control" readonly />
</div>
<div class="form-group">
    <label class=" col-form-lable" asp-for="HiringDate"></label>
    <input id="Code" asp-for="HiringDate" class="form-control" readonly />
</div>