@model EmployeeViewModel
@* @inject IUnitOfWork _unitOfWork
 *@
@{
    ViewData["Title"] = "Create";
  // ViewBag.Departments = _departmentRepo.GetAll();
}

<h1>Create New Employee</h1>

<br />
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <partial name="PartialViews/CreateEditPartial" />

    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-controller="Employee" asp-action="Index"  class="btn btn-light"> Back To List</a>
</form>

@section ValidationScriptSection{
@* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
    <partial name="_ValidationScriptsPartial" />

}