@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure To Delete This Employee</h1>

<br />
<br />

<form method="post" asp-action="Delete">
    <partial name="PartialViews/DetailsDeletePartial" />
    <input type="submit" value="Delete" class="btn btn-Danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary"> Cancel</a>

</form>