@model Employee
@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>



<form asp-action="Edit">
    <div asp-validation-summary="All"></div>

    <partial name="PartialViews/DetailsDeletePartial" />
   
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light"> Back To List</a>
</form>